<!DOCTYPE html>
{% load static %}
<!--framework teste para visualização de informações-->

<html>

	<head>
		<title>Coke Club</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href={%static 'css/estilo.css'%} />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css">
  		<link rel="stylesheet" type="text/css" href={%static 'css/estilo.css'%} />
		
	</head>

	<body>

		<div id="navegacao">
			<div id="area">
				<div id="menu">
                           <a href="{%url 'home' %}">Início</a>
						   <a href="{%url 'datas' %}">Datas</a>
							<a href="{%url 'dicas' %}">Dicas</a>
							<a href="{%url 'regras' %}">Regras</a>
							
                </div>
            </div>
								
		</div>

		<div>
			<h2>Resultado da votação</h2>

			<table class="table">
				<tr>
					<th scope="col">Bolo</th>
					<th scope="col">Votos</th>
				</tr>
				</thead>
				{% for results in results %}	
				<tbody>
				<tr>
					<td>{{results.cake__name}}</td>
					<td>{{results.count}}</td>
					
				</tr>
				</tbody>
				{% endfor %}
			</table>
				

		</div>

	</body>

</html>
</html>	